.buttonLink {
  width: var(--button-link-size);
  height: var(--button-link-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--button-link-color);
  transition: var(--button-link-transition);
}

.buttonLink:hover,
.buttonLink:focus {
  color: var(--decorative-dark);
  outline: none;
  transform: var(--button-link-transform-scale); /* Slightly enlarge the button on hover/focus */
}

.buttonLink:focus-visible {
  outline: var(--button-link-outline);
}

.buttonLink__icon {
  font-size: var(--button-link-icon-size);
}

.buttonLink:hover .buttonLink__icon,
.buttonLink:focus .buttonLink__icon {
  transform: var(--button-link-transform-rotate); /* Slight rotation on hover/focus */
}
