/* The main fade animation effect */
.fade {
  --fade-duration: 0ms;
  --opacity-threshold: 0.01;

  animation-timing-function: ease-in-out;
  animation-name: fadeEffect;
  animation-duration: calc(var(--fade-duration) * var(--motion-ok));
  will-change: opacity;
}

/* Keyframes for the fade effect */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  25% {
    opacity: var(--opacity-threshold);
  }
  to {
    opacity: 1;
  }
}
