.tooltip {
  --tooltip-offset: var(--semantic-space-sm);
  --tooltip-arrow-size: calc(var(--semantic-space-sm) * 0.5);

  position: relative;

  display: inline-block;

  cursor: default;
}

.tooltip__tip {
  position: absolute;
  left: 50%;

  padding: var(--tooltip-arrow-size) var(--tooltip-offset);

  color: var(--semantic-text-inverse);
  background-color: var(--semantic-surface-inverse);

  font-family: var(--semantic-font-body);
  font-size: var(--semantic-fs-kicker);
  font-weight: 500;
  line-height: var(--semantic-lh-body);

  border-radius: var(--semantic-sm-radius);

  box-shadow: var(--semantic-shadow);

  white-space: nowrap;
  pointer-events: none;

  opacity: 0;

  transform: translateX(-50%);
  translate: 0 -10px;

  transition:
    opacity 0.3s ease,
    translate 0.3s ease;

  z-index: 100;
}

.tooltip__tip p {
  margin: 0;
}

.tooltip__tip p + p {
  margin-top: calc(var(--tooltip-offset) * 0.25);
}

.tooltip__tip--visible {
  opacity: 1;
  translate: 0 0;
}

/* -------------------------------------------------------------------------- */
/* Arrow                                                                      */
/* -------------------------------------------------------------------------- */

.tooltip__tip::before {
  content: '';

  position: absolute;
  left: 50%;

  width: 0;
  height: 0;

  border: solid transparent;
  border-width: var(--tooltip-arrow-size);

  margin-left: calc(var(--tooltip-arrow-size) * -1);

  pointer-events: none;
}

/* -------------------------------------------------------------------------- */
/* Top                                                                        */
/* -------------------------------------------------------------------------- */

.tooltip__tip--top {
  top: calc(var(--tooltip-offset) * -1);
}

.tooltip__tip--top::before {
  top: 100%;

  border-top-color: var(--semantic-surface-inverse);
}

/* -------------------------------------------------------------------------- */
/* Right                                                                      */
/* -------------------------------------------------------------------------- */

.tooltip__tip--right {
  top: 50%;
  left: calc(100% + var(--tooltip-offset));

  transform: translateX(0) translateY(-50%);
}

.tooltip__tip--right::before {
  top: 50%;
  left: calc(var(--tooltip-arrow-size) * -1);

  border-right-color: var(--semantic-surface-inverse);

  transform: translateX(0) translateY(-50%);
}

/* -------------------------------------------------------------------------- */
/* Bottom                                                                     */
/* -------------------------------------------------------------------------- */

.tooltip__tip--bottom {
  bottom: calc(var(--tooltip-offset) * -1);
}

.tooltip__tip--bottom::before {
  bottom: 100%;

  border-bottom-color: var(--semantic-surface-inverse);
}

/* -------------------------------------------------------------------------- */
/* Left                                                                       */
/* -------------------------------------------------------------------------- */

.tooltip__tip--left {
  top: 50%;
  right: calc(100% + var(--tooltip-offset));
  left: auto;

  transform: translateX(0) translateY(-50%);
}

.tooltip__tip--left::before {
  top: 50%;
  right: calc(var(--tooltip-arrow-size) * -2);
  left: auto;

  border-left-color: var(--semantic-surface-inverse);

  transform: translateX(0) translateY(-50%);
}
