.popover {
  position: absolute;
  display: inline-grid;
  grid-template-columns: max-content;
  grid-auto-rows: auto;
  max-width: calc(100% - 10px);
  top: 100%;
  left: 4px;
  color: var(--white);
  font-size: var(--fs-xxs);
  font-weight: 400;
  background-color: var(--popover-suggestions-bg);
  border-radius: 0 0 var(--br-xxs) var(--br-xxs);
  will-change: opacity, height;
  z-index: 100;
}

.popover__message,
.popover__autocomplete {
  grid-column: 1;
  width: 100%;
  min-width: 0;
  opacity: 0;
  overflow-wrap: anywhere;
}

.popover__message {
  grid-row: 1;
  padding: 8px 12px;
  background-color: var(--popover-message-bg);
  border-radius: 0 0 var(--br-xxs) var(--br-xxs);
  transition: opacity 200ms ease-in-out;
}

.popover__message--visible,
.popover__autocomplete--visible {
  opacity: 1;
}

.popover__message--visible li {
  display: block;
  white-space: pre-line;
}

.popover__message--withoutSuggestions {
  box-shadow: var(--bsh-popover);
}

.popover__autocomplete {
  grid-row: 2;
  display: block;
  max-height: 0px;
  overflow-y: auto;
  transition:
    max-height 200ms ease,
    opacity 200ms ease-in-out;
}

.popover__autocomplete--visible {
  max-height: 120px;
}

.popover__autocomplete[hidden] {
  display: none;
}

.popover__autocomplete__item {
  padding: 2px 12px;
}

.popover__autocomplete__item--focused,
.popover__autocomplete__item:hover {
  background-color: var(--hover-bg-menu);
  outline: none;
  color: var(--white);
  cursor: pointer;
}
