.popover {
  position: absolute;
  max-width: calc(100% - 10px);
  top: 100%;
  left: 4px;
  color: var(--white);
  font-size: var(--fs-xxs);
  font-weight: 400;
  background-color: var(--popover-suggestions-bg);
  border-radius: 0 0 var(--br-xxs) var(--br-xxs);
  will-change: opacity, height;
  z-index: 100;
}

.popover__message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: max-content;
  padding: 8px 12px;
  white-space: pre-line;
  background-color: var(--popover-message-bg);
  border-radius: 0 0 var(--br-xxs) var(--br-xxs);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 200;
}

.popover__message--visible {
  min-width: max-content;
  opacity: 1;
}

.popover__message--withoutSuggestions {
  box-shadow: var(--bsh-popover);
}

.popover__autocomplete {
  display: block;
  max-height: 0px;
  overflow-y: auto;
  opacity: 0;
  transition:
    max-height 200ms ease,
    opacity 200ms ease-in-out;
}

.popover__autocomplete--visible {
  width: 100%;
  max-height: 120px;
  margin-top: 33px;
  opacity: 1;
}

.popover__autocomplete--withoutMessage {
  margin-top: 0px;
}

.popover__autocomplete__item {
  padding: 2px 12px;
}

.popover__autocomplete__item--focused,
.popover__autocomplete__item:hover {
  background-color: var(--hover-bg-menu);
  outline: none;
  color: var(--white);
  cursor: pointer;
}
