/* Linked section not visible on screen */
.itemMenu {
  --itemMenu-text-color: var(--semantic-text);

  color: var(--itemMenu-text-color);
  text-decoration: none;
}

.itemMenu:hover,
.itemMenu--isSectionActive {
  --itemMenu-text-color: color-mix(in oklab, var(--semantic-accent) 60%, var(--semantic-text) 40%);
}

/* Section currently active in the page navigation. */
.itemMenu--isSectionActive {
  font-weight: 700;
  text-decoration-line: underline;
}
