/* Linked section not visible on screen */
.itemMenu {
  color: var(--rich-black);
  text-decoration: none;
}

.itemMenu:hover {
  color: var(--secondary-color);
}

/* Linked section visible on screen */
.itemMenu--isSectionVisible {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration-line: underline;
}
